#portfolio{
    padding: 50px 0;
}
#portfolio h1{
    margin-bottom: 15px;
}

/* ------Small screens------ */
@media only screen and (max-width: 600px){
    .carousel-slide {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}