.portfolio-tab {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #262626;
    padding: 20px;
    transition: background 0.5s, transform 0.5s;
}

.portfolio-tab:hover{
    background: #096A2E;
    transform: translateY(-10px);
}

.tab-content {
    width: 30%;
}

.portfolio-tab img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.portfolio-tab h3 {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.project-info{
    width: 70%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.description{
    height: 30%;
}

.portfolio-tab p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.portfolio-tab a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.page-link{
    color: #108CFF;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis (...) at the end of the link if it overflows */
}

.page-link:hover{
    text-decoration: underline;
}

.portfolio-tab .btn{
    display: block;
    margin: 20px 0;
    width: fit-content;
    border: 1px solid #080808;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    display: inline-block;
}
.portfolio-tab .btn:hover{
    background: #262626;
}

/* ------Small screens------ */
@media only screen and (max-width: 600px){
    .portfolio-tab {
        flex-direction: column; 
        align-items: center; 
    }

    .portfolio-tab p, a {
        font-size: 14px;
        text-align: center;
    }

    .project-info {
        width: 100%;
        text-align: center;
    }

    .tab-content {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .portfolio-tab img {
        width: 100%;
        height: auto;
        max-height: 200px;
    }

    .portfolio-tab .btn{
        display: none;
    }
}